
.user-form {
  background-color: #f5f8f7;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom:16px;
}

.image-preview{
  /* width: 200px !important; */
  /* height: 200px !important; */
  object-fit: cover;
  max-width: 150px;
  margin-bottom: 10px;
}